body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1F2937;
    margin: 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    margin: 20px 20px 20px 10px;
    max-width: 200px; /* Set a maximum width for the gap */
    flex-grow: 1; /* Allow the gap to grow */
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: 20px auto 20px 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1F2937;
    margin: 0;
    color: white;
    padding: 80px 0;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 450px;
    margin-left: 20px;
}

.hero-text .button {
    display: flex;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 30px;
    font-weight: bold;
    font-size: medium;
}

h1 {
    margin: 0;
}

.hero-image img {
    margin-right: 20px;
    max-width: 50px;
    height: auto;
    border-radius: 8px;
}