body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.header-hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 0 100px 75px 100px;
    gap: 70px;
}

.header-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.hero-text h1 {
    margin: 0;
}

.hero-text button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.hero-image img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-title {
    margin: 0 0 30px 0;
}

.pill-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #3882F6; /* Border color */
    border-radius: 15px; /* Rounded corners */
    width: 150px;
    height: 150px;
}

.info-items {
    display: flex;
    gap: 35px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.info-item-text {
    text-align: center;
    color: #4A4A4A; 
}

.pill {
    width: 100px; 
    height: 40px; 
    border-radius: 20px; 
    background-color: #E0E0E0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
    transform: rotate(-45deg); 
}

.pill-red {
    background-color: #FF0000;
}

.pill-blue {
    background-color: #0000ff;
}

.pill-green {
    background-color: #00FF00;
}

.pill-orange {
    background-color: #FFA500;
}

.quote {
    background-color: #E0E0E0;
    padding: 75px 250px;
}

.quote-text {
    font-size: 24px; 
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: 700;
}

.call-to-action {
    background-color: white;
    padding: 80px 100px;
}

.cta-container {
    background-color: #3882F6;
    color: white;
    padding: 40px 80px;
    border-radius: 8px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    margin: 0;
    font-size: 20px;
}

.cta-text p {
    margin: 5px 0 0 0;
    opacity: 0.9;
}

.cta-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.footer-text {
    color: rgb(206, 206, 206);
    text-align: center;
    padding: 30px 20px;
}